.cust-profile {
	font-size: 250px;
}

.cust-list {
	font-size: 100px;
}

.checkbox-left {
	width: 10%;
	text-align: left;
}

.text-pink {
	color: #ec407a;
}

input.ng-invalid {
	border: 1px solid #ec407f;
}

.extra-space {
	padding-bottom: 15px;
	padding-top: 15px;
}

input[type='radio'], input[type='checkbox'] {
	margin: 0 0 0 0!important;
}