<section ng-controller="AmbientesListController as vm">
  <div class="page-header">
    <h1 class="text-center">Ambientes</h1>
  </div>
  <div class="list-group">
    <div class="col-xs-12 col-sm-6 col-md-3 " data-ng-repeat="ambiente in vm.ambientes |  orderBy: 'nome'">
      <a ui-sref="ambientes.edit({ ambienteId: ambiente._id })" class="list-group-item" style="padding-bottom: 0; margin-bottom: 10px;">
        <div class="text-center">
          <i class="fa fa-desktop fa-5x text-primary"></i>
        </div>
        <h4 class="text-center">{{ambiente.nome}}</h4>
        <div class="row panel-footer" style="background-color: #337AB7;">
          <div class="col-xs-9 col-md-9">
            <h5 style="color:#fff">{{ambiente.descricao}}</h5>
          </div>
          <div class="col-xs-3 col-md-3">
            <button class="btn" ng-click="">
              <i class="fa fa-unlock-alt text-primary" ></i>
            </button>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.ambientes.$resolved && !vm.ambientes.length">
    Sem ambientes cadastrados. <a class="alert-link" data-ui-sref="ambientes.create" ng-show="vm.authentication.user.isAdmin">Incluir ambiente</a>
  </div>
</section>
