<section>
  <div class="container-fluid">
    <div class="modal-header">
      <h3 class="modal-title">{{vm.usuario._id ? 'Editar usuário' : 'Novo usuário'}}</h3>
    </div>
    <div class="modal-body">
      <form name="vm.form.usuarioForm" class="form-horizontal" ng-submit="vm.save(vm.form.usuarioForm.$valid)" novalidate>
        <fieldset>
          <div  class="form-group" ng-class="{ 'has-error' : vm.form.usuarioForm.nome.$error.required && !vm.form.usuarioForm.nome.$pristine}">
            <label class="control-label" for="nome">Nome</label>
            <input ng-disabled="!vm.authentication.user.isAdmin" name="nome" type="text" ng-model="vm.usuario.nome" id="nome" class="form-control" placeholder="Nome" required>
            <div ng-show="vm.form.usuarioForm.nome.$error.required && !vm.form.usuarioForm.nome.$pristine" role="alert">
              <span class="text-danger">Nome do usuário é obrigatório.</span>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error' : vm.form.usuarioForm.senha.$error.required && !vm.form.usuarioForm.senha.$pristine}">
            <label class="control-label" for="senha">Senha</label>
            <input ng-disabled="!vm.authentication.user.isAdmin" name="senha" type="password" ng-model="vm.usuario.senha" id="senha" class="form-control" placeholder="Senha" required>
            <div ng-show="vm.form.usuarioForm.senha.$error.required && !vm.form.usuarioForm.senha.$pristine" role="alert">
              <span class="text-danger">Senha do usuário é obrigatório.</span>
            </div>
          </div>

          <div class="form-group" >
            <label class="control-label">Grupos</label>
            <div class="panel panel-default" style="margin-bottom: 0">
              <div class="panel-body">
                <label style="font-weight:normal;">
                  <input ng-disabled="!vm.authentication.user.isAdmin" type="checkbox" id="inlineCheckbox1" value="option1"> Admin
                </label>
                <label style="font-weight:normal;">
                  <input ng-disabled="!vm.authentication.user.isAdmin" type="checkbox" id="inlineCheckbox2" value="option2"> Criação
                </label>
              </div>
            </div>        
          </div>

          <div class="form-group">
            <button ng-show="vm.authentication.user.isAdmin"type="submit" class="btn btn-success" ng-disabled="vm.form.usuarioForm.$invalid">{{vm.usuario._id ? 'Atualizar' : 'Salvar'}}</button>
            <button type="button" class="btn btn-primary text-center" data-ui-sref="usuarios.list">Cancelar/Voltar
            </button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
