<section>
  <div class="page-header">
    <h1>Usuários</h1>
    <div>
      <a ng-show="vm.authentication.user.isAdmin" data-ui-sref="usuarios.create" data-ng-if="vm.usuarios.$resolved && vm.usuarios.length">
        <i class="fa fa-users"> Incluir usuário</i>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="usuario in vm.usuarios |  orderBy: 'nome'">
    <a class="link-painel" ui-sref="usuarios.edit({ usuarioId: usuario._id })">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <div>Criação - Cetesc - Público - Suporte</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
            <span class="pull-left">{{usuario.nome}}</span>
            <span class="pull-right"><i class="fa fa-trash text-danger" ng-click="vm.removeDispositivo(dispositivo)"></i></span>
            <div class="clearfix"></div>
            <!-- <button class="btn" style="margin-top: 12px" ng-click="vm.removeDispositivo(dispositivo)">
              <i class="fa fa-trash text-primary" ng-click="vm.removeDispositivo(dispositivo)"></i>
            </button> -->
        </div>
      </div>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.usuarios.$resolved && !vm.usuarios.length">
    Nenhum usuário cadastrado. <a ng-show="vm.authentication.user.isAdmin" data-ui-sref="usuarios.create"> Incluir usuário</a>
  </div>
</section>
