<section>
  <div class="page-header">
    <h1>Sites proibidos</h1>
    <div>
      <a data-ui-sref="sites.create" data-ng-if="vm.sites.$resolved && vm.sites.length">
        <i class="fa fa-ban"> Incluir site proibido</i>
      </a>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="site in vm.sites" ui-sref="sites.edit({ siteId: site._id })" class="list-group-item">
      <button class="btn pull-right">
        <i class="fa fa-trash text-primary" ng-click="vm.removeSite(site)"></i>
      </button>
      <h4>{{site.nome}}</h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.sites.$resolved && !vm.sites.length">
    Nenhum site proibido cadastrados. <a data-ui-sref="sites.create"> incluir site proibido</a>
  </div>
</section>
