<section ng-controller="MonitorDiscosController as vm">
  <div class="panel panel-primary">
  	<div class="panel-heading">
	    <h4>Utilização de Discos</h4>
	  </div>
	  <div>
      <!--<div class="chart" easypiechart options="vm.pieOptions1" percent="vm.piePercent1">
        <span class="percentual" ng-bind="vm.piePercent1"></span>
      </div>-->
      <monitor-discos></monitor-discos>
	    <!--<nvd3 options="vm.options2"
	      data="vm.data2">
	    </nvd3>-->
	  </div>
  </div>

</section>
