<session>
	<div class="page-header">
		<h1>Monitor</h1>
	</div>

	<div class="row">
		<!--HD-->
		<monitor-discos class="col-md-12"></monitor-discos>

		<!--teste-->
		<monitor-teste class="col-md-12"></monitor-teste>

		<!--MEMÓRIA-->
		<monitor-memoria class="col-md-12"></monitor-memoria>


		<!--CPUS-->
		<monitor-cpus class="col-md-12"></monitor-cpus>

	</div>

	<!--REDE-->
	<!-- <div class="col-md-6" ng-include="'modules/monitor/client/views/system-monitor-rede.client.view.html'"></div> -->

</session>
