<session>
	<div class="page-header">
		<h1>Monitor</h1>
	</div>

	<!--MEMÓRIA-->
	<div class="row">
		<monitor-memoria class="col-md-6"></monitor-memoria>
		
		<!--HD-->
		<monitor-discos class="col-md-6"></monitor-discos>
	</div>


	<!--PROCESSADOR-->
	<div class="col-md-6" ng-include="'modules/monitor/client/views/system-monitor-processador.client.view.html'"></div>

	<!--REDE-->
	<div class="col-md-6" ng-include="'modules/monitor/client/views/system-monitor-rede.client.view.html'"></div>
</session>
