<session>
	<div class="page-header">
		<h1 class="text-center">Monitor</h1> 
	</div>

	<!--MEMÓRIA-->
	<div class="col-md-6" ng-include="'modules/monitor/client/views/system-monitor-memory.client.view.html'"></div>

	<!--PROCESSADOR-->
	<div class="col-md-6" ng-include="'modules/monitor/client/views/system-monitor-processador.client.view.html'"></div>

	<!--HD-->
	<div class="col-md-6" ng-include="'modules/monitor/client/views/system-monitor-hd.client.view.html'"></div>

	<!--REDE-->
	<div class="col-md-6" ng-include="'modules/monitor/client/views/system-monitor-rede.client.view.html'"></div>
</session>