<section>
  <div class="page-header">
    <h1>{{vm.ambiente._id ? 'Edit Ambiente' : 'New Ambiente'}} {{vm.dhcpd}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.ambienteForm" class="form-horizontal" ng-submit="vm.save(vm.form.ambienteForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="nome">Nome</label>
          <input name="nome" type="text" ng-model="vm.ambiente.nome" id="nome" class="form-control" placeholder="Nome" required>
          <div ng-messages="vm.form.ambienteForm.nome.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ambiente nome is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.ambiente._id ? 'Update' : 'Create'}}</button>
          <button type="button" ng-show="vm.ambiente._id" class="btn btn-success text-center" ng-click="vm.modalCreateDispositivo('md', vm.ambiente)">Novo Dispositivo
          </button>
          <!-- <button type="button" name="button" ng-click="vm.gerarDhcpd()">Gerar Dhcpd</button> -->
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
    </br>
    <dispositivos-list></dispositivos-list>
  </div>
</section>
