<div class="list-group">
  <h5 ng-show="vm.ambiente.dispositivos.length">Dispositivos do ambiente : <span class="label label-default">{{vm.ambiente.nome}}</span></h5>

<!--exibido para o admin-->
  <div ng-show="vm.authentication.user.isAdmin" class="col-xs-12 col-sm-6 col-md-3 " data-ng-repeat="dispositivo in vm.ambiente.dispositivos |  orderBy: 'nome'">
    <a ng-click="vm.modalEditDispositivo('md', dispositivo)" class="list-group-item" style="padding-bottom: 0; margin-bottom: 10px;">  
      <div class="text-center">
        <i class="fa fa-desktop fa-5x text-primary"></i>
      </div>
      <h4 class="text-center">{{dispositivo.nome}}</h4> 
      <div class="row panel-footer" style="background-color: #337ad7;">
        <div class="col-xs-9 col-md-9">
          <h5 style="color:#fff">{{dispositivo.ip}}</h5>
          <h5 style="color:#fff">{{dispositivo.mac}}</h5>
        </div>
        <div class="col-xs-3 col-md-3">
          <button class="btn" style="margin-top: 12px" ng-click="vm.removeDispositivo(dispositivo)">
            <i class="fa fa-trash text-primary" ng-click="vm.removeDispositivo(dispositivo)"></i>
          </button>
        </div>
      </div>
    </a>
  </div>
</div>
<!--exibido para o user-->
<div ng-show="!vm.authentication.user.isAdmin" class="col-xs-12 col-sm-6 col-md-3 " data-ng-repeat="dispositivo in vm.ambiente.dispositivos |  orderBy: 'nome'">
    <a class="list-group-item" style="padding-bottom: 0; margin-bottom: 10px;">  
      <div class="text-center">
        <i class="fa fa-desktop fa-5x text-primary"></i>
      </div>
      <h4 class="text-center">{{dispositivo.nome}}</h4> 
      <div class="row panel-footer" style="background-color: #337ad7;">
        <div class="col-xs-9 col-md-9">
          <h5 style="color:#fff">{{dispositivo.ip}}</h5>
          <h5 style="color:#fff">{{dispositivo.mac}}</h5>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="alert alert-warning text-center" data-ng-if="vm.ambiente.$resolved &&!vm.ambiente.dispositivos.length">
   Sem dispositivos cadastrados neste ambiente.
</div>