<section>
  <div class="page-header">
    <h1 class="text-center" data-ng-bind="vm.ambiente.nome | uppercase"></h1>

  </div>
 
 <div class="row col-md-12">
    <div class="hidden-xs hidden-sm col-md-2" >
      <div class="jumbotron text-center">
      <i class="fa fa-desktop fa-3x large text-primary"></i>
    </div>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       data-ui-sref="ambientes.edit({ ambienteId: vm.ambiente._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
 </div>
</section>
