.text-white{
  color:#fff;
}
.bg-primary{
  background-color:#042240;
}

/*==============*/
/*   ambiente   */
/*==============*/
.margin-ambiente{
  margin:10px;
}
.btn-ambiente{
  border-radius:0 0 0 10px;
}
